@charset "UTF-8";

body {
    font-family: 'Space Mono', monospace;
    background-color: #fdf9fd;
}

h1 {
    font-size: 90px;
    text-align: left;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 50px;
}

p {
    text-align: left;
    font-size: 20px;
    
}

div {
    width: 60%;
    margin-left: 100px;
    margin-top: 300px;
}

span {
    text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px #2cfcfd, 0 6.25px #fb203b, 0 12.5px #fefc4b;
}


/* #0c2ffb, #2cfcfd, #fb203b, #fefc4b; */