@charset "UTF-8";

body {
    margin: 0;
}

h1 {
    font-family: orbitron, sans-serif;
    font-weight: 700;
}

.navbar {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
}

a {
    color: red;
    text-decoration: none;
    font-family: orbitron, sans-serif;
    font-weight: 700;
    margin: 0 30px;
}

.contact {
    margin-left: auto;
}

.home {
    border-bottom: 1px solid white;
}

.begin {
    border: 1px solid red;
    margin: 50px 150px;
    padding: 10px 40px;
    box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.38);
    background-color: rgb(211, 206, 206);
}

p {
    text-align: justify;
}

span {
    color: red;
}
