@charset "UTF-8";

.btn {
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin: 30px 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bolder;
}

.btn:hover {
    background-color: rgb(230, 196, 61);
    color: white;
    transition: background-color 1s, color 1s, transform 1s ease-in;
    transform: translateX(50px);
}
